.titleWrapper {
  margin-bottom: 16px;
}

.title {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.container {
  width: 95%;
  margin: 0 auto;
}

.card {
  min-width: 320px;
}

.helpButton {
  width: 52px;
  height: 52px;
  bottom: 76px;
  display: flex;
  justify-content: "center";
  align-items: "center";
}
