.ant-float-btn-body {
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
}

.ant-float-btn-content {
  height: 100% !important;
  width: 100% !important;
}

.ant-float-btn-icon {
  width: 100% !important;
}
